

*{/*universal*/
    margin: 0; /*margem*/
    padding: 0; /*espaçamento interno*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

img{ /*estilo tag imagem*/

    height: 92px; /*altura*/
}
    
a{ /*tag link/ancora*/
    text-decoration: none; /*tirou decoração de texto*/
    color: #1f1f1f; /*cor do texto*/
    font-size: 13px; /*tamanho da fonte*/
    font-family: sans-serif; /*tipo/familia da fonte*/

}

.botao-login{ /*classe botao-login*/
background-color: #1a73e8; /*cor do fundo*/ 
color: white; /*cor do texto*/
padding: 13px 12px; /*espaçamento interno*/
font-weight: 500; /*peso da fonte*/
border-radius: 10px; /*raio da borda(curvatura)*/
}

.icone-produtos{ /*classe icone-produtos*/
    width: 24px; /*largura*/
    fill: #444746; /*cor preenchimento*/

}

footer{ /*seletor da tag footer/rodapé*/
    background-color: #f2f2f2 ; /*cor de fundo*/

}

.caixa-rodape{
    padding: 15px 30px;

}

.caixa-rodape--borda{
    border-bottom: 1px solid #dadce0;/*borda inferior*/

}